{% extends "layout.html" %}

{% block body %}

<div class ="row">
    
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">
                <h3>Articles
                   <form style='display:inline-block; text-align: right;'>
                                       <span>   

                        {% csrf_token %} 
                      <input type="text" name = "keyword" maxlength="64" placeholder="Title..."
                      style='border:0; border-bottom: 1px solid grey; width: 40%'>
                    <button type="submit" class="btn btn-primary">Search</button>
                                      </span>

                  </form>
                </h3>
                </div>
        </div>
</div>
                

<hr>

{% if articles %}

{% for article in articles %}
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-7 offset-md-3">

      <!-- Title -->
      <h5 class=""><a href = "{% url 'article:detail' article.id %}">{{article.title}}</a> - <span>{{article.created_date}}</span></h5>

      <!-- Post Content -->
      <p class="lead">
          {{article.content|safe|truncatewords:50}}
      </p>
        
      <!-- Author -->
      <p>
        
        Posted by: <span class = 'lead'>{{article.author.username}} </span>

      </p>



      <hr>
         
  </div>
</div>

{% endfor %}


{% else %}
<div class ="row">
    
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   No Article Found
</div>
</div>
</div>
</div>
{% endif %}

{% endblock body %}