{% extends "layout.html" %}

{% block body %}
<h3>My Articles</h3>
{% if articles %}
<table class="table" style = 'height:60vh'>
        <thead>
          <tr>

            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody> 
        {% for article in articles %}
          <tr>
            <td>{{article.id}}</td>
            <td>{{article.title}}</td>
            <td>{{article.author.username}}</td>
            <td>{{article.created_date}}</td>
            <td>
              <a href="{% url 'article:update' article.id %}" class = "btn btn-info">Update</a>
              <a href="{% url 'article:delete' article.id %}" class = "btn btn-danger">Delete</a>
            </td>
              
          </tr>
          {% endfor%}
          
        </tbody>
      </table>
{% else %}

<div class = "alert alert-danger">
    You don't have any articles yet...

</div>

{% endif %}

<a class = "btn btn-success" href = "{% url 'article:addarticle' %}">Add Article </a>


{% endblock body %}

